%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Sample Configuration File.
%%
%% Related doc guide: http://www.rabbitmq.com/configure.html. See
%% http://rabbitmq.com/documentation.html for documentation ToC.
%% ----------------------------------------------------------------------------
[
 {rabbit,
  [
      {default_user,        "admin"},
      {default_pass,        "admin-123"}
  ]},

 %% ----------------------------------------------------------------------------
 %% RabbitMQ AMQP 1.0 Support
 %%
 %% Related doc guide: https://github.com/rabbitmq/rabbitmq-amqp1.0/blob/stable/README.md
 %%
 %% ----------------------------------------------------------------------------
 {rabbitmq_amqp1_0,
  [
      {default_user, "admin"},
      {default_pass, "admin-123"},
      {protocol_strict_mode, true}
  ]}
].

